In [2]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd 
import pandas_datareader.data as web

In [3]:
style.use('ggplot')

In [4]:
start = dt.datetime(2000,1,1)
end = dt.datetime(2020,12,31)

In [5]:
df = web.DataReader('TSLA', 'yahoo', start, end)
df.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2010-06-29  5.000  3.508  3.800  4.778  93831500.0      4.778
2010-06-30  6.084  4.660  5.158  4.766  85935500.0      4.766
2010-07-01  5.184  4.054  5.000  4.392  41094000.0      4.392
2010-07-02  4.620  3.742  4.600  3.840  25699000.0      3.840
2010-07-06  4.000  3.166  4.000  3.222  34334500.0      3.222